# page-top {
    background-color: blue;!important
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-image: url("/assets/img/Pagina2\ explicación.jpg");
    -webkit-text-size-adjust: 100%;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#sup{
    height: 30vh;
    
    background-color:darkgray;
}
#izq{
    background-color: antiquewhite;
    height: 70vh;

}
#drcha{
    background-color: aqua;
    height: 70vh;

}